@import "_variables";
.navbar {
    font-size: 18px;
    background-color: $yellow;
    border: 1px solid rgba(0, 0, 0, 0.2);
    height: 13vh;
    position: fixed;
    width: 100%;
    z-index: 3;
    background-color: $yellow;
}

.main-nav {
    list-style-type: none;
    display: none;
    background-color: $yellow;
    padding: 6vh;
}

.nav-links,
.logo {
    text-decoration: none;
    color: dark grey;
}

.main-nav li {
    text-align: center;
    margin: 25px auto;
    font-weight: bold;
}

.logo {
    display: inline-block;
    img {
        width: 12vh;
        height: 12vh;
    }
}

.navbar-toggle {
    position: absolute;
    top: 2vh;
    right: 5vh;
    cursor: pointer;
    color: $blue;
    font-size: 24px;
}

.active {
    display: block;
}