@import "_variables";
header {
    background-color: $white;
    height: 5vh;
    display: flex;
    font-size: 16px;
    justify-content: space-evenly;
    color: $lightgrey;
    transition: top 0.5s ease-in-out;
    a {
        text-decoration: none;
        color: $lightgrey;
        &:hover {
            color: $blue;
        }
    }
}

.navbar {
    font-size: 18px;
    background-color: $yellow;
    border: 1px solid rgba(128, 92, 92, 0.2);
    height: 13vh;
    position: fixed;
    width: 100%;
    z-index: 3;
    background-color: $yellow;
    transition: top 0.5s ease-in-out;
}

.main-nav {
    list-style-type: none;
    display: none;
    background-color: $yellow;
    padding: 6vh;
    position: relative;
    li {
        text-align: center;
        margin: 25px auto;
        font-weight: bold;
        a {
            text-decoration: none;
            color: $darkgrey;
            &:hover {
                color: $blue;
            }
        }
        &:hover {
            ul {
                display: block;
            }
        }
        ul {
            display: none;
            text-decoration: none;
            list-style-type: none;
            li:hover {
                color: white;
            }
        }
    }
}

.nav-links,
.logo {
    text-decoration: none;
    color: dark grey;
}

.logo {
    display: inline-block;
    img {
        width: 12vh;
        height: 12vh;
    }
}

.navbar-toggle {
    position: absolute;
    top: 2vh;
    right: 5vh;
    cursor: pointer;
    color: $blue;
    font-size: 24px;
}

.active {
    display: block;
}