$blue: #0779E4;
$yellow: #ffE75E;
$green: #52de97;
$red: #F12D2D;
$turqoise: #00ead350;
$darkgrey: darkgrey;
$pink: pink;
$darkred: rgb(115, 7, 7);
$darkturqoise: rgb(0, 242, 255);
$black:black;
$white:white;