#galleryContainer {
    padding: 10vw;
}

#centerClosureList {
    background-color: $white;
}

@media screen and (max-width:1280px) {
    #galleryContainer {
        padding: 14vw;
    }
}

@media screen and (max-width: 768px) {
    #galleryContainer {
        padding-top: 25vw;
    }
}

@media screen and (max-width: 411px) {
    #galleryContainer {
        padding-top: 32vw;
    }
}