@import "_variables";
header {
    background-color: $white;
    display: flex;
    padding: 1.5vh;
    font-size: 1vw;
    justify-content: space-evenly;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: $darkgrey;
    transition: top 0.5s ease-in-out;
    a {
        text-decoration: none;
        color: $darkgrey;
        &:hover {
            color: $blue;
        }
    }
}

#headerSocial {
    margin-right: 5px;
    cursor: pointer;
}

.navbar {
    position: fixed;
    z-index: 3;
    width: 100%;
    border: 1px solid rgba(128, 92, 92, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    height: 13vh;
    background-color: $yellow;
    transition: top 0.5s ease-in-out;
    margin-bottom: 15vh;
    font-size: 1vw;
    ul li {
        text-align: center;
        font-weight: bold;
        a {
            text-decoration: none;
            color: $darkgrey;
            &:hover {
                color: $blue;
            }
        }
        &:hover {
            ul {
                display: block;
            }
        }
        ul {
            position: absolute;
            display: none;
            text-decoration: none;
            list-style-type: none;
            background-color: $yellow;
            text-align: left;
            border: 1px solid rgba(128, 92, 92, 0.2);
            li {
                margin: 2vh;
                text-align: left;
                &:hover {
                    color: white;
                }
            }
        }
    }
}

.logo-nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    display: inline-block;
    img {
        width: 10vh;
        height: 10vh;
    }
}

.nav-options {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    width: 80%;
}

.mobile-option {
    display: none;
}

.option {
    i {
        margin-left: 1vh;
        align-items: center;
    }
    &:hover {
        color: white;
    }
}

.mobile-menu {
    display: none;
}

#navPhone>div {
    font-family: 'Quicksand', sans-serif;
    color: $darkgrey;
    cursor: pointer;
    font-size: 1.1vw;
    i {
        color: $darkgrey;
        &:hover {
            color: $blue;
        }
    }
}

@media (max-width: 769px) {
    /*Mobile View */
    .Navbar {
        padding: 0px 10px;
        width: 100%;
    }
    .nav-options {
        display: flex;
        width: 100%;
        position: absolute;
        top: 9vh;
        opacity: 0;
        transition: all 0.5s ease;
        flex-direction: column;
        list-style-type: none;
        ul li ul li {
            position: relative;
            // top: 0;
            // right: 0;
        }
    }
    .nav-options.active {
        background: $yellow;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
        align-content: center;
        padding-left: 0px;
    }
    .menu-icon {
        width: 45px;
        height: 45px;
    }
    .option {
        display: block;
        align-items: center;
        height: 10vw;
        font-size: 2vw;
    }
    #navPhone>div {
        font-size: 1.6vw;
    }
    header {
        font-size: 1.6vw;
    }
}

@media screen and (max-width: 411px) {
    .option {
        font-size: 4vw;
    }
}

.mobile-menu {
    display: block;
}