@import "_variables";
header {
    background-color: $white;
    display: flex;
    padding: 1.5vh;
    font-size: 1vw;
    justify-content: space-evenly;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: $darkgrey;
    transition: top 0.5s ease-in-out;
    a {
        text-decoration: none;
        color: $darkgrey;
        &:hover {
            color: $blue;
        }
    }
}

#headerSocial {
    margin-right: 5px;
    cursor: pointer;
}


/*****/

.topnav {
    background-color: $yellow;
    position: fixed;
    height: 13vh;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
}

.topnav a {
    display: block;
    color: $black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    background-color: $yellow;
}

.logo a {
    margin: 0;
    padding: 0;
    color: white;
    img {
        height: 12vh;
        width: 12vh;
    }
}

.logo {
    background-color: transparent;
}

.navLinks {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.active {
    color: white;
}

.topnav .iconNav {
    display: none;
}

.dropdown {
    display: inline;
    background-color: $yellow;
}

.dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: $black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 4;
}

.dropdown-content a {
    float: none;
    color: $black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.topnav a:hover,
.dropdown:hover .dropbtn {
    color: $blue;
    font-weight: bold;
}

.dropdown-content a:hover {
    color: $blue;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#myTopnav>div.navLinks>a:nth-child(5) {
    padding: 0;
}

@media screen and (max-width: 798px) {
    .topnav a:not(:first-child),
    .dropdown .dropbtn {
        display: none;
    }
    .topnav a.iconNav {
        display: block;
    }
    .navLinks {
        display: block;
    }
    .topnav.responsive {
        position: relative;
        display: block;
    }
    .topnav.responsive .iconNav {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .topnav.responsive .dropdown {
        float: none;
    }
    .topnav.responsive .dropdown-content {
        position: relative;
    }
    .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }
    #myTopnav>div.navLinks>a:nth-child(5) {
        padding: 5px 15px;
    }
    header {
        font-size: 1.8vw;
        grid-template-columns: 1fr 1fr;
        div {
            padding-bottom: 2vh;
        }
    }
    .logo a {
        img {
            margin-left: 5vh;
        }
    }
}