@import "_variables";
#pageContainer {
    padding-top: 20vh;
    p {
        font-size: 18px;
        margin: auto;
        width: 80%;
        line-height: 5vh;
        font-weight: bold;
        padding: 2vh;
    }
    a {
        text-decoration: none;
        color: $blue;
        i {
            margin-right: 5px;
        }
        &:hover {
            color: $red;
        }
    }
}

#emailAdress {
    margin-left: 5px;
}

#enrollForm {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.sectionHeader3 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 2.5vw;
    font-weight: 900;
    color: $blue;
    margin-bottom: 5vh;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 80%;
    text-align: center;
    margin: 5vh 5vh;
    i {
        margin-top: 2vh;
    }
}

#cardContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-evenly;
}

#parHeader {
    font-weight: bold;
    font-size: larger;
    color: $red;
}

@media screen and (max-width: 768px) {
    #enrollForm {
        grid-template-columns: 1fr 1fr;
    }
    #cardContainer {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 541px) {
    #cardContainer {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 411px) {
    #enrollForm {
        grid-template-columns: 1fr;
    }
}