header {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.5vh;
  font-size: 1vw;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: #4a4141;
  -webkit-transition: top 0.5s ease-in-out;
  transition: top 0.5s ease-in-out;
}

header a {
  text-decoration: none;
  color: #4a4141;
}

header a:hover {
  color: #0779E4;
}

#headerSocial {
  margin-right: 5px;
  cursor: pointer;
}

.navbar {
  position: fixed;
  z-index: 3;
  width: 100%;
  border: 1px solid rgba(128, 92, 92, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 40px;
  height: 13vh;
  background-color: #ffE75E;
  -webkit-transition: top 0.5s ease-in-out;
  transition: top 0.5s ease-in-out;
  margin-bottom: 15vh;
}

.navbar ul li {
  text-align: center;
  font-weight: bold;
}

.navbar ul li a {
  text-decoration: none;
  color: #4a4141;
}

.navbar ul li a:hover {
  color: #0779E4;
}

.navbar ul li:hover ul {
  display: block;
}

.navbar ul li ul {
  position: absolute;
  display: none;
  text-decoration: none;
  list-style-type: none;
  background-color: #ffE75E;
  text-align: left;
  border: 1px solid rgba(128, 92, 92, 0.2);
}

.navbar ul li ul li {
  margin: 2vh;
  text-align: left;
}

.navbar ul li ul li:hover {
  color: white;
}

.logo-nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo {
  display: inline-block;
}

.logo img {
  width: 10vh;
  height: 10vh;
}

.nav-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  list-style-type: none;
}

.mobile-option {
  display: none;
}

.option :hover {
  color: white;
}

.mobile-menu {
  display: none;
}

@media (max-width: 769px) {
  /*Mobile View */
  .Navbar {
    padding: 0px 10px;
    width: 100%;
  }
  .nav-options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    position: absolute;
    top: 9vh;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    list-style-type: none;
  }
  .nav-options ul {
    position: relative;
    top: 0;
    right: 0;
  }
  .nav-options.active {
    background: #ffE75E;
    left: 0;
    opacity: 1;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    z-index: 1;
    -ms-flex-line-pack: center;
        align-content: center;
    padding-left: 0px;
  }
  .menu-icon {
    width: 45px;
    height: 45px;
  }
  .option {
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 10vw;
  }
}

.mobile-menu {
  display: block;
}

#infantContainer {
  padding-top: 20vh;
}

#infantContainer p {
  margin: auto;
  width: 80%;
  line-height: 5vh;
  font-weight: bold;
  padding: 2vh;
}

#infantContainer img {
  margin: 5vh;
  width: 55vh;
  background-image: url("../images/2.png");
}

#infantContainer #infantBaby2 {
  width: 35vh;
}

#infantFirstPart {
  background-image: url("../images/5.png");
  width: 100%;
}

.infantHeader {
  font-size: 8vh;
  color: #0779E4;
  padding: 2vh;
  margin: 2vh;
  border: 1px solid #0779E4;
  display: inline-block;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(29.17%, #ffe75e), color-stop(29.17%, #b3e6cd), color-stop(50%, #b3e6cd), color-stop(50%, #ffe75e), color-stop(79.17%, #ffe75e), color-stop(79.17%, #b3e6cd), to(#b3e6cd));
  background-image: linear-gradient(90deg, #ffe75e 29.17%, #b3e6cd 29.17%, #b3e6cd 50%, #ffe75e 50%, #ffe75e 79.17%, #b3e6cd 79.17%, #b3e6cd 100%);
}

#infantContainer2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 5vh;
  margin: 10vh 0;
}

@media screen and (max-width: 769px) {
  #infantContainer2 {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  p {
    width: auto;
  }
}

@media screen and (max-width: 411px) {
  #infantContainer img {
    width: 80%;
  }
  #infantBaby2 {
    width: 80%;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Quicksand', sans-serif;
  background-image: url("../images/Chagrin-Valley.png");
  text-align: center;
}

.sectionHeader {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 5vw;
  font-weight: 900;
  color: #0779E4;
  margin-bottom: 5vh;
}

/*Top Picture Section*/
.topPicture {
  position: relative;
}

.mainphoto {
  width: 100%;
  max-height: 100vh;
}

.perfectphoto {
  width: 35%;
  position: absolute;
  top: 25%;
  left: 30%;
}

/*Buttons*/
.learnMoreButton,
.learnMoreButton2 {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  background-color: #F12D2D;
  color: white;
  font-size: 1.2vw;
  padding: 0.6em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 2em;
  border: none;
  cursor: pointer;
}

.learnMoreButton:hover,
.learnMoreButton2:hover {
  background-color: #0779E4;
  color: white;
}

.learnMoreButton2 {
  background-color: #ffE75E;
  color: black;
  margin-top: 5vh;
}

/*About Us Section*/
.aboutUs {
  padding-top: 6vh;
}

.aboutLink ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  margin: 4vh 0;
}

.aboutLink ul li {
  margin-right: 2vh;
  padding: 1vh;
  background-color: #ffE75E;
  padding: 0.6em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 2em;
  cursor: pointer;
}

.aboutLink ul li:hover {
  background-color: #0779E4;
  color: white;
}

#aboutUsInfoPhotos {
  width: 90%;
  height: 40vh;
  border-radius: 10%;
}

#aboutUsInfo,
.ourActivitiesInfo {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  margin: 5vh;
  line-height: 5vh;
}

.aboutUsInfoParargaf {
  text-align: center;
  margin: 5vh;
}

/*Our Activities Section*/
.ourActivities {
  background-color: #00ead350;
  padding-top: 6vh;
}

.ourActivitiesInfo {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  padding: 6vh 0;
}

#ourActivitiesPhoto {
  width: 100%;
  height: 40vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 6vh;
  border-radius: 10%;
}

.ourActivitiesLink {
  padding-bottom: 6vh;
}

.ourActivitiesLink img {
  height: 30vh;
  width: 30vh;
}

/*Event Section*/
.eventGallery {
  width: 50vh;
  height: 30vh;
  margin: 5vh;
}

/*Parent section*/
.parentSection {
  background-color: #fff;
  background-size: 100% 1.2em;
  background-image: linear-gradient(0deg, transparent 79px, #536162 79px, #536162 81px, transparent 81px), linear-gradient(#eee 0.05em, transparent 0.05em);
  margin: 6vh 0;
}

.parentSectionInfo {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(280px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  justify-items: center;
  text-align: center;
}

.parentSectionPhoto {
  margin-bottom: 6vh;
}

.parentSectionPhoto img {
  width: 80%;
  height: 35vh;
  border-radius: 50%;
}

.parentSectionText {
  margin-bottom: 6vh;
}

.parentSectionText p {
  font-size: 4vw;
}

/*Contact Section*/
.contactSection {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  color: white;
}

.contactSection i {
  font-size: 5vw;
}

.phoneNumberSection,
.adressSection,
.emailSection {
  padding: 5vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phoneNumberSection {
  background-color: #00f2ff;
}

.adressSection {
  background-color: #ffE75E;
}

.emailSection {
  background-color: #F12D2D;
}

.emailSection a {
  text-decoration: none;
  color: white;
}

.emailSection a:hover {
  color: #0779E4;
}

.footer,
footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(186, 180, 180, 0.476);
}

.footer a,
footer a {
  margin-right: 5vh;
}

#footerPage {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

/*Mobile view*/
@media screen and (max-width: 1191px) {
  .navbar {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    font-size: 1.8vw;
  }
}

@media screen and (min-width: 769px) {
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 30px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 0;
  }
  .main-nav li {
    margin: 0;
    position: relative;
    text-align: left;
  }
  .main-nav li ul {
    position: absolute;
    top: 3.3vh;
    background-color: #ffE75E;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    line-height: 6vh;
    padding: 0 5vh 2vh;
  }
  .nav-links {
    margin-left: 40px;
  }
  .logo {
    margin-top: 0;
  }
  .logo img {
    margin-left: 2vh;
    height: 15vh;
    width: 15vh;
  }
  .navbar-toggle {
    display: none;
  }
  .logo:hover,
  .nav-links:hover {
    color: white;
  }
  .contactSection {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .ourActivitiesInfo {
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
  }
  #ourActivitiesPhoto {
    width: 70%;
  }
  .contactSection i {
    font-size: 3vw;
  }
  .phoneNumberSection,
  .adressSection,
  .emailSection {
    -ms-grid-columns: 1fr 3fr;
        grid-template-columns: 1fr 3fr;
  }
  .parentSectionText {
    width: 90%;
  }
  .parentSectionText p {
    font-size: 2vw;
  }
  .parentSectionPhoto {
    margin-bottom: 6vh;
  }
  .parentSectionPhoto img {
    width: 50%;
    height: 50vh;
    border-radius: 50%;
  }
  .sectionHeader {
    font-size: 3vw;
  }
}

@media screen and (max-width: 411px) {
  main {
    padding-top: 50px;
  }
  .learnMoreButton {
    font-size: 1.8vw;
    padding: 0.8em 1.4em;
  }
  .learnMoreButton2 {
    font-size: 1.8vw;
    padding: 1em 1.6em;
  }
  .sectionHeader {
    font-size: 4vh;
    font-weight: 200;
    font-weight: bold;
  }
  .aboutLink ul li {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-right: 1vh;
    padding: 1vh;
  }
}
/*# sourceMappingURL=style.css.map */