@import "_navbar";
@import "_variables";
@import "_mediaquerry";
@import "_programs";
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
    background-image: url("../images/Chagrin-Valley.png");
    text-align: center;
}

.sectionHeader {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 5vw;
    font-weight: 900;
    color: $blue;
    margin-bottom: 5vh;
}


/*Top Picture Section*/

.topPicture {
    position: relative;
}

.mainphoto {
    width: 100%;
    max-height: 100vh;
}

.perfectphoto {
    width: 35%;
    position: absolute;
    top: 25%;
    left: 30%;
}


/*Buttons*/

.learnMoreButton2 {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    background-color: $red;
    color: $white;
    font-size: 1.2vw;
    padding: 0.6em 1.2em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 2em;
    border: none;
    cursor: pointer;
    &:hover {
        background-color: $blue;
        color: $white;
    }
}

.learnMoreButton2 {
    background-color: $yellow;
    color: $black;
    margin-top: 5vh;
}


/*About Us Section*/

.aboutUs {
    padding-top: 6vh;
}

.aboutLink ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    margin: 4vh 0;
    li {
        margin-right: 2vh;
        padding: 1vh;
        background-color: $yellow;
        padding: 0.6em 1.2em;
        margin: 0 0.3em 0.3em 0;
        border-radius: 2em;
        cursor: pointer;
        &:hover {
            background-color: $blue;
            color: $white;
        }
    }
}

#aboutUsInfoPhotos {
    width: 70%;
    height: 40vh;
    border-radius: 10%;
}

#aboutUsInfo,
.ourActivitiesInfo {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    margin: 5vh;
    line-height: 5vh;
}

.aboutUsInfoParargaf {
    text-align: center;
    margin: 5vh;
}


/*Our Activities Section*/

.ourActivities {
    background-color: $turqoise;
    padding-top: 6vh;
}

.ourActivitiesInfo {
    display: grid;
    grid-template-columns: 1fr;
    padding: 6vh 0;
}

#ourActivitiesPhoto {
    width: 100%;
    height: 40vh;
    align-items: center;
    margin-bottom: 6vh;
    border-radius: 10%;
}

.ourActivitiesLink {
    padding-bottom: 6vh;
    img {
        height: 30vh;
        width: 30vh;
    }
}


/*Event Section*/

.eventGallery {
    width: 50vh;
    height: 30vh;
    margin: 5vh;
}


/*Parent section*/

.parentSection {
    background-color: #fff;
    background-size: 100% 1.2em;
    background-image: -webkit-linear-gradient(0deg, transparent 79px, #536162 79px, #536162 81px, transparent 81px), -webkit-linear-gradient(#eee .05em, transparent .05em);
    background-image: -moz-linear-gradient(0deg, transparent 79px, #536162 79px, #536162 81px, transparent 81px), -moz-linear-gradient(#eee .05em, transparent .05em);
    background-image: -ms-linear-gradient(0deg, transparent 79px, #536162 79px, #536162 81px, transparent 81px), -ms-linear-gradient(#eee .05em, transparent .05em);
    background-image: -o-linear-gradient(0deg, transparent 79px, #536162 79px, #536162 81px, transparent 81px), -o-linear-gradient(#eee .05em, transparent .05em);
    background-image: linear-gradient(0deg, transparent 79px, #536162 79px, #536162 81px, transparent 81px), linear-gradient(#eee .05em, transparent .05em);
    //  -pie-background: linear-gradient(0deg, transparent 79px, #536162 79px, #536162 81px, transparent 81px) 0 0 / 100% 1.2em, linear-gradient(#eee .05em, transparent .05em) 0 0 / 100% 1.2em #fff;
    //  behavior: url(/PIE.htc);
    margin: 6vh 0;
}

.parentSectionInfo {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-items: center;
    text-align: center;
}

.parentSectionPhoto {
    margin-bottom: 6vh;
    img {
        width: 80%;
        height: 35vh;
        border-radius: 50%;
    }
}

.parentSectionText {
    margin-bottom: 6vh;
    p {
        font-size: 4vw;
    }
}


/*Contact Section*/

.contactSection {
    display: grid;
    grid-template-columns: 1fr;
    color: $white;
    i {
        font-size: 5vw;
    }
}

.phoneNumberSection,
.adressSection,
.emailSection {
    padding: 5vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.phoneNumberSection {
    background-color: $darkturqoise;
}

.adressSection {
    background-color: $yellow;
}

.emailSection {
    background-color: $red;
    a {
        text-decoration: none;
        color: $white;
        &:hover {
            color: $blue
        }
    }
}

//footer
.footer,
footer {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $lightgrey;
    a {
        margin: 0 1vh;
        text-decoration: none;
        color: $black;
        &:hover {
            font-weight: bold;
            color: $blue;
        }
    }
}

#footerPage {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}


/*Mobile view*/

@media screen and (max-width: 1191px) {
    .navbar {
        justify-content: space-evenly;
        font-size: 1.8vw;
    }
}

@media screen and (min-width: 769px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        align-items: center;
    }
    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
        padding: 0;
        li {
            margin: 0;
            position: relative;
            text-align: left;
            ul {
                position: absolute;
                top: 3.3vh;
                background-color: $yellow;
                width: max-content;
                line-height: 6vh;
                padding: 0 5vh 2vh;
            }
        }
    }
    .nav-links {
        margin-left: 40px;
    }
    .logo {
        margin-top: 0;
        img {
            margin-left: 2vh;
            height: 15vh;
            width: 15vh
        }
    }
    .navbar-toggle {
        display: none;
    }
    .logo:hover,
    .nav-links:hover {
        color: rgba(255, 255, 255, 1);
    }
    .contactSection {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .ourActivitiesInfo {
        grid-template-columns: 1fr 2fr;
    }
    #ourActivitiesPhoto {
        width: 70%;
    }
    .contactSection i {
        font-size: 3vw;
    }
    .phoneNumberSection,
    .adressSection,
    .emailSection {
        grid-template-columns: 1fr 3fr;
    }
    .parentSectionText {
        width: 90%;
        p {
            font-size: 2vw;
        }
    }
    .parentSectionPhoto {
        margin-bottom: 6vh;
        img {
            width: 50%;
            height: 50vh;
            border-radius: 50%;
        }
    }
    .sectionHeader {
        font-size: 3vw;
    }
}

@media screen and (max-width: 411px) {
    main {
        padding-top: 50px;
    }
    .learnMoreButton2 {
        font-size: 1.8vw;
        padding: 1em 1.6em;
    }
    .sectionHeader {
        font-size: 4vh;
        font-weight: 200;
        font-weight: bold;
    }
    .aboutLink ul li {
        justify-content: space-evenly;
        margin-right: 1vh;
        padding: 1vh;
    }
}