header {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.5vh;
  font-size: 1vw;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  color: #4a4141;
  -webkit-transition: top 0.5s ease-in-out;
  transition: top 0.5s ease-in-out;
}

header a {
  text-decoration: none;
  color: #4a4141;
}

header a:hover {
  color: #0779E4;
}

#headerSocial {
  margin-right: 5px;
  cursor: pointer;
}

.navbar {
  position: fixed;
  z-index: 3;
  width: 100%;
  border: 1px solid rgba(128, 92, 92, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 40px;
  height: 13vh;
  background-color: #ffE75E;
  -webkit-transition: top 0.5s ease-in-out;
  transition: top 0.5s ease-in-out;
  margin-bottom: 15vh;
  font-size: 1vw;
}

.navbar ul li {
  text-align: center;
  font-weight: bold;
}

.navbar ul li a {
  text-decoration: none;
  color: #4a4141;
}

.navbar ul li a:hover {
  color: #0779E4;
}

.navbar ul li:hover ul {
  display: block;
}

.navbar ul li ul {
  position: absolute;
  display: none;
  text-decoration: none;
  list-style-type: none;
  background-color: #ffE75E;
  text-align: left;
  border: 1px solid rgba(128, 92, 92, 0.2);
}

.navbar ul li ul li {
  margin: 2vh;
  text-align: left;
}

.navbar ul li ul li:hover {
  color: white;
}

.logo-nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo {
  display: inline-block;
}

.logo img {
  width: 10vh;
  height: 10vh;
}

.nav-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style-type: none;
  width: 80%;
}

.mobile-option {
  display: none;
}

.option i {
  margin-left: 1vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.option:hover {
  color: white;
}

.mobile-menu {
  display: none;
}

#navPhone > div {
  font-family: 'Quicksand', sans-serif;
  color: #4a4141;
  cursor: pointer;
  font-size: 1.1vw;
}

#navPhone > div i {
  color: #4a4141;
}

#navPhone > div i:hover {
  color: #0779E4;
}

@media (max-width: 769px) {
  /*Mobile View */
  .Navbar {
    padding: 0px 10px;
    width: 100%;
  }
  .nav-options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    position: absolute;
    top: 9vh;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    list-style-type: none;
  }
  .nav-options ul li ul li {
    position: relative;
  }
  .nav-options.active {
    background: #ffE75E;
    left: 0;
    opacity: 1;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    z-index: 1;
    -ms-flex-line-pack: center;
        align-content: center;
    padding-left: 0px;
  }
  .menu-icon {
    width: 45px;
    height: 45px;
  }
  .option {
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 10vw;
    font-size: 2vw;
  }
  #navPhone > div {
    font-size: 1.6vw;
  }
  header {
    font-size: 1.6vw;
  }
}

@media screen and (max-width: 411px) {
  .option {
    font-size: 4vw;
  }
}

.mobile-menu {
  display: block;
}

#infantContainer {
  padding-top: 20vh;
}

#infantContainer p {
  margin: auto;
  width: 80%;
  line-height: 5vh;
  font-weight: bold;
  padding: 2vh;
}

#infantContainer #programsPagePhoto1 {
  margin: 5vh;
  width: 80%;
  background-image: url("../images/5.png");
}

#infantContainer #programsPagePhoto3 {
  margin: 5vh;
  width: 80%;
}

#infantContainer #programsPagePhoto2 {
  width: 80%;
  background-image: url("../images/5.png");
}

#infantFirstPart {
  background-image: url("../images/5.png");
  width: 100%;
}

.infantHeaderToddler {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(25%, #ffe75e), color-stop(25%, #e6c4b3), color-stop(50%, #e6c4b3), color-stop(50%, #ffe75e), color-stop(75%, #ffe75e), color-stop(75%, #e6c4b3), to(#e6c4b3));
  background-image: linear-gradient(90deg, #ffe75e 25%, #e6c4b3 25%, #e6c4b3 50%, #ffe75e 50%, #ffe75e 75%, #e6c4b3 75%, #e6c4b3 100%);
}

.infantHeaderSchool {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(25%, #ffe75e), color-stop(25%, #b3c1e6), color-stop(50%, #b3c1e6), color-stop(50%, #ffe75e), color-stop(75%, #ffe75e), color-stop(75%, #b3c1e6), to(#b3c1e6));
  background-image: linear-gradient(90deg, #ffe75e 25%, #b3c1e6 25%, #b3c1e6 50%, #ffe75e 50%, #ffe75e 75%, #b3c1e6 75%, #b3c1e6 100%);
}

.infantHeader {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(29.17%, #ffe75e), color-stop(29.17%, #b3e6cd), color-stop(50%, #b3e6cd), color-stop(50%, #ffe75e), color-stop(79.17%, #ffe75e), color-stop(79.17%, #b3e6cd), to(#b3e6cd));
  background-image: linear-gradient(90deg, #ffe75e 29.17%, #b3e6cd 29.17%, #b3e6cd 50%, #ffe75e 50%, #ffe75e 79.17%, #b3e6cd 79.17%, #b3e6cd 100%);
}

.infantHeaderSchoolAge {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(25%, #ffe75e), color-stop(25%, #b3e6b8), color-stop(50%, #b3e6b8), color-stop(50%, #ffe75e), color-stop(75%, #ffe75e), color-stop(75%, #b3e6b8), to(#b3e6b8));
  background-image: linear-gradient(90deg, #ffe75e 25%, #b3e6b8 25%, #b3e6b8 50%, #ffe75e 50%, #ffe75e 75%, #b3e6b8 75%, #b3e6b8 100%);
}

.infantHeader,
.infantHeaderSchool,
.infantHeaderToddler,
.infantHeaderSchoolAge {
  font-size: 8vh;
  color: #0779E4;
  padding: 2vh;
  margin: 2vh;
  border: 1px solid #0779E4;
  display: inline-block;
}

#infantContainer2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 5vh;
  margin: 10vh 0;
}

#schedule {
  width: 100%;
  text-align: left;
}

#infantContainer2 > div:nth-child(3),
#infantContainer2 > div:nth-child(6) {
  width: 100%;
}

#headSmall {
  font-size: 4vh;
  color: #F12D2D;
}

@media screen and (max-width: 769px) {
  #infantContainer2 {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  p {
    width: auto;
  }
  .infantHeader,
  .infantHeaderSchool,
  .infantHeaderToddler,
  .infantHeaderSchoolAge {
    font-size: 4vh;
  }
}

@media screen and (max-width: 411px) {
  #infantContainer #infantBaby2,
  #infantContainer #infantBaby3 {
    width: 80%;
  }
}

#pageContainer {
  padding-top: 20vh;
}

#pageContainer p {
  font-size: 18px;
  margin: auto;
  width: 80%;
  line-height: 5vh;
  font-weight: bold;
  padding: 2vh;
}

#pageContainer a {
  text-decoration: none;
  color: #0779E4;
}

#pageContainer a i {
  margin-right: 5px;
}

#pageContainer a:hover {
  color: #F12D2D;
}

#emailAdress {
  margin-left: 5px;
}

#enrollForm {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.sectionHeader3 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 2.5vw;
  font-weight: 900;
  color: #0779E4;
  margin-bottom: 5vh;
}

.card {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 80%;
  text-align: center;
  margin: 5vh 5vh;
}

.card i {
  margin-top: 2vh;
}

#cardContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#parHeader {
  font-weight: bold;
  font-size: larger;
  color: #F12D2D;
}

#centerClosureList {
  line-height: 3;
  font-size: 20px;
  font-weight: bold;
}

.icon {
  height: 25px;
  width: 25px;
  margin-right: 10px;
}

table {
  margin-top: 2vw;
  margin-left: auto;
  margin-right: auto;
  font-size: larger;
  background-color: white;
}

table,
th,
td {
  border: 2px solid #0779E4;
  border-collapse: collapse;
}

th,
td {
  padding: 15px;
}

td:first-child {
  font-weight: bold;
}

#rateExplanation {
  text-align: left;
  line-height: 4;
}

@media screen and (max-width: 768px) {
  #enrollForm {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  #cardContainer {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 541px) {
  #cardContainer {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 411px) {
  #enrollForm {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 280px) {
  #galleryContainer h2 {
    font-size: 22px;
  }
}

#galleryContainer {
  padding: 10vw;
}

@media screen and (max-width: 1280px) {
  #galleryContainer {
    padding: 14vw;
  }
}

@media screen and (max-width: 768px) {
  #galleryContainer {
    padding-top: 25vw;
  }
}

@media screen and (max-width: 411px) {
  #galleryContainer {
    padding-top: 32vw;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Quicksand', sans-serif;
  background-image: url("../images/Chagrin-Valley.png");
  text-align: center;
}

.sectionHeader {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 5vw;
  font-weight: 900;
  color: #0779E4;
  margin-bottom: 5vh;
  border: 2px dotted #0779E4;
  padding: 0.2em 1em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 2em;
  display: inline-block;
}

.sectionHeaderPrograms {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 2vw;
  font-weight: 900;
  margin-bottom: 5vh;
}

.sectionHeaderPrograms a {
  color: #0779E4;
  text-decoration: none;
}

.sectionHeaderPrograms a:hover {
  color: #F12D2D;
}

/*Top Picture Section*/
.topPicture {
  position: relative;
}

.mainphoto {
  width: 100%;
  max-height: 100vh;
}

.perfectphoto {
  width: 35%;
  position: absolute;
  top: 25%;
  left: 30%;
}

/*Buttons*/
.learnMoreButton2,
#SummerFlyer {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  background-color: #F12D2D;
  color: white;
  font-size: 2vw;
  padding: 0.6em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 2em;
  border: none;
  cursor: pointer;
}

.learnMoreButton2 a,
#SummerFlyer a {
  text-decoration: none;
  color: white;
}

.learnMoreButton2:hover,
#SummerFlyer:hover {
  background-color: #0779E4;
  color: white;
}

.learnMoreButton2 {
  background-color: #ffE75E;
  color: black;
  margin-top: 5vh;
}

/*About Us Section*/
.aboutUs {
  padding-top: 6vh;
}

.aboutLink ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  margin: 4vh 0;
}

.aboutLink ul li {
  margin-right: 2vh;
  padding: 1vh;
  background-color: #ffE75E;
  padding: 0.6em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 2em;
  cursor: pointer;
}

.aboutLink ul li:hover {
  background-color: #0779E4;
  color: white;
}

#aboutUsInfoPhotos {
  width: 70%;
  border-radius: 10%;
}

#aboutUsInfo,
.ourActivitiesInfo {
  display: -ms-grid;
  display: grid;
  margin: 5vh;
  line-height: 5vh;
}

.ourActivitiesInfo {
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

#aboutUsInfo {
  -ms-grid-columns: (minmax(280px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.aboutUsInfoParargaf {
  text-align: center;
  margin: 5vh;
}

/*Our Activities Section*/
.ourActivities {
  background-color: #00ead350;
  padding-top: 6vh;
}

.ourActivitiesInfo {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  padding: 6vh 0;
}

#ourActivitiesPhoto {
  width: 60%;
  height: 30vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10%;
  margin: auto;
}

.ourActivitiesLink {
  margin-top: 5vh;
  padding-bottom: 6vh;
}

.ourActivitiesLink img {
  height: 30vh;
  width: 30vh;
}

/*Event Section*/
.eventGalleryCards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.eventGallery {
  width: 80%;
  height: 30vh;
  margin: 5vh;
}

/*Parent section*/
.parentSection {
  background-color: #fff;
  background-size: 100% 1.2em;
  background-image: linear-gradient(0deg, transparent 79px, #536162 79px, #536162 81px, transparent 81px), linear-gradient(#eee 0.05em, transparent 0.05em);
  margin: 6vh 0;
}

.parentSectionInfo {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-items: center;
  text-align: center;
}

.parentSectionPhoto {
  margin-bottom: 6vh;
}

.parentSectionPhoto img {
  border-radius: 50%;
  width: 20vw;
  height: 20vw;
}

.parentSectionText {
  margin-bottom: 6vh;
}

.parentSectionText p {
  font-size: 4vw;
}

/*Contact Section*/
.contactSection {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  color: white;
}

.contactSection i {
  font-size: 5vw;
}

.contactSection a {
  text-decoration: none;
  color: white;
}

.contactSection a:hover {
  color: #0779E4;
}

.phoneNumberSection,
.adressSection,
.emailSection {
  padding: 5vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phoneNumberSection {
  background-color: #00f2ff;
}

.adressSection {
  background-color: #ffE75E;
}

.emailSection {
  background-color: #F12D2D;
}

.footer,
footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(186, 180, 180, 0.476);
}

.footer a,
footer a {
  margin: 0 1vh;
  text-decoration: none;
  color: black;
}

.footer a:hover,
footer a:hover {
  font-weight: bold;
  color: #0779E4;
}

#footerPage {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

#root > div:nth-child(3) > div > div.phoneNumberSection.aos-init.aos-animate > div.infoPart > h2:nth-child(2) > div {
  font-family: 'Quicksand', sans-serif;
  color: white;
  font-size: 3vh;
  font-weight: bold;
}

#root > div:nth-child(3) > div > div.phoneNumberSection.aos-init.aos-animate > div.infoPart > h2:nth-child(2) > div:hover {
  color: #0779E4;
}

/*Mobile view*/
@media screen and (max-width: 1281px) {
  .navbar {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    font-size: 1.3vw;
  }
  .eventGalleryCards {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .parentSectionPhoto img {
    height: 40vh;
    width: 60%;
  }
}

@media screen and (min-width: 769px) {
  .logo {
    margin-top: 0;
  }
  .logo img {
    margin-left: 2vh;
    height: 15vh;
    width: 15vh;
  }
  .logo:hover,
  .nav-links:hover {
    color: white;
  }
  .contactSection {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .ourActivitiesInfo {
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
  }
  #ourActivitiesPhoto {
    width: 70%;
  }
  .contactSection i {
    font-size: 3vw;
  }
  .phoneNumberSection,
  .adressSection,
  .emailSection {
    -ms-grid-columns: 1fr 3fr;
        grid-template-columns: 1fr 3fr;
  }
  .parentSectionText {
    width: 90%;
  }
  .parentSectionText p {
    font-size: 2vw;
  }
  .sectionHeader {
    font-size: 3vw;
  }
}

@media screen and (max-width: 769px) {
  .topPicture {
    padding-top: 13vh;
  }
  .parentSectionText {
    width: 90%;
  }
  .parentSectionText p {
    font-size: 3vw;
  }
  .parentSectionPhoto img {
    width: 80%;
    height: 30vh;
  }
  .sectionHeaderPrograms {
    font-size: 4vw;
  }
}

@media screen and (max-width: 411px) {
  main {
    padding-top: 50px;
  }
  .learnMoreButton2,
  #SummerFlyer {
    font-size: 4vw;
    padding: 1em 1.6em;
  }
  .sectionHeader {
    font-size: 4vh;
    font-weight: 200;
    font-weight: bold;
  }
  .sectionHeaderPrograms {
    font-size: 5vw;
  }
  .aboutLink ul li {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-right: 1vh;
    padding: 1vh;
  }
  .topPicture {
    padding-top: 12vh;
  }
  .perfectphoto {
    top: 50%;
    left: 30%;
  }
  .eventGalleryCards {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .parentSectionPhoto img {
    width: 60vw;
    height: 60vw;
  }
  .contactSection {
    font-size: 3vw;
  }
  .ourActivities {
    width: 100%;
  }
  .parentSectionText p {
    font-size: 5vw;
  }
}

@media screen and (max-width: 281px) {
  .aboutLink ul {
    font-size: 3.5vw;
  }
  h2 {
    font-size: 3vw;
  }
  p {
    font-size: 2vw;
  }
  #aboutUsInfo {
    padding: 0px;
    margin: 0px;
    text-align: center;
  }
  #aboutUsInfo h2 {
    font-size: 4vw;
  }
  #aboutUsInfo p {
    font-size: 3vw;
  }
  .aboutUsInfoParargaf {
    margin: 0px auto;
    padding: 10px;
  }
  .learnMoreButton2 {
    font-size: 2vw;
  }
}
/*# sourceMappingURL=style.css.map */