header {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.5vh;
  font-size: 1vw;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  color: #4a4141;
  -webkit-transition: top 0.5s ease-in-out;
  transition: top 0.5s ease-in-out;
}

header a {
  text-decoration: none;
  color: #4a4141;
}

header a:hover {
  color: #0779E4;
}

#headerSocial {
  margin-right: 5px;
  cursor: pointer;
}

/*****/
.topnav {
  background-color: #ffE75E;
  position: fixed;
  height: 13vh;
  width: 100%;
  padding: 0 3vh;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.topnav a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  background-color: #ffE75E;
}

.logo a {
  margin: 0;
  padding: 0;
  color: white;
}

.logo a img {
  height: 12vh;
  width: 12vh;
}

.logo {
  background-color: transparent;
}

.navLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.active {
  color: white;
}

.topnav .iconNav {
  display: none;
}

.dropdown {
  display: inline;
  background-color: #ffE75E;
}

.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 4;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover,
.dropdown:hover .dropbtn {
  color: #0779E4;
  font-weight: bold;
}

.dropdown-content a:hover {
  color: #0779E4;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#myTopnav > div.navLinks > a:nth-child(5) {
  padding: 0;
}

@media screen and (max-width: 798px) {
  .insideNav {
    position: fixed;
    width: 100%;
    z-index: 3;
  }
  .topnav {
    padding: 0;
  }
  .topnav a:not(:first-child),
  .dropdown .dropbtn {
    display: none;
  }
  .topnav a.iconNav {
    display: block;
  }
  .navLinks {
    display: block;
  }
  .topnav.responsive {
    position: relative;
    display: block;
  }
  .topnav.responsive .iconNav {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {
    float: none;
  }
  .topnav.responsive .dropdown-content {
    position: relative;
  }
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
  #myTopnav > div.navLinks > a:nth-child(5) {
    padding: 5px 15px;
  }
  header {
    font-size: 1.8vw;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  header div {
    padding-bottom: 2vh;
  }
  .logo a img {
    margin-left: 5vh;
  }
}

#infantContainer {
  padding-top: 20vh;
}

#infantContainer p {
  margin: auto;
  width: 80%;
  line-height: 5vh;
  font-weight: bold;
  padding: 2vh;
}

#infantContainer #programsPagePhoto1 {
  margin: 5vh;
  width: 80%;
}

#infantContainer #programsPagePhoto3 {
  margin: 5vh;
  width: 80%;
}

#infantContainer #programsPagePhoto2 {
  width: 50%;
}

#infantFirstPart {
  background-image: url("../assets/photo-gallery/5.png");
  width: 100%;
  background-repeat: no-repeat;
}

.infantHeaderToddler {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(25%, #ffe75e), color-stop(25%, #e6c4b3), color-stop(50%, #e6c4b3), color-stop(50%, #ffe75e), color-stop(75%, #ffe75e), color-stop(75%, #e6c4b3), to(#e6c4b3));
  background-image: linear-gradient(90deg, #ffe75e 25%, #e6c4b3 25%, #e6c4b3 50%, #ffe75e 50%, #ffe75e 75%, #e6c4b3 75%, #e6c4b3 100%);
}

.infantHeaderSchool {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(25%, #ffe75e), color-stop(25%, #b3c1e6), color-stop(50%, #b3c1e6), color-stop(50%, #ffe75e), color-stop(75%, #ffe75e), color-stop(75%, #b3c1e6), to(#b3c1e6));
  background-image: linear-gradient(90deg, #ffe75e 25%, #b3c1e6 25%, #b3c1e6 50%, #ffe75e 50%, #ffe75e 75%, #b3c1e6 75%, #b3c1e6 100%);
}

.infantHeader {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(29.17%, #ffe75e), color-stop(29.17%, #b3e6cd), color-stop(50%, #b3e6cd), color-stop(50%, #ffe75e), color-stop(79.17%, #ffe75e), color-stop(79.17%, #b3e6cd), to(#b3e6cd));
  background-image: linear-gradient(90deg, #ffe75e 29.17%, #b3e6cd 29.17%, #b3e6cd 50%, #ffe75e 50%, #ffe75e 79.17%, #b3e6cd 79.17%, #b3e6cd 100%);
}

.infantHeaderSchoolAge {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(25%, #ffe75e), color-stop(25%, #b3e6b8), color-stop(50%, #b3e6b8), color-stop(50%, #ffe75e), color-stop(75%, #ffe75e), color-stop(75%, #b3e6b8), to(#b3e6b8));
  background-image: linear-gradient(90deg, #ffe75e 25%, #b3e6b8 25%, #b3e6b8 50%, #ffe75e 50%, #ffe75e 75%, #b3e6b8 75%, #b3e6b8 100%);
}

.infantHeader,
.infantHeaderSchool,
.infantHeaderToddler,
.infantHeaderSchoolAge {
  font-size: 8vh;
  color: #0779E4;
  padding: 2vh;
  margin: 2vh;
  border: 1px solid #0779E4;
  display: inline-block;
}

#infantContainer2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 5vh;
  margin: 10vh 0;
}

#schedule {
  width: 100%;
  text-align: left;
}

#infantContainer2 > div:nth-child(3),
#infantContainer2 > div:nth-child(6) {
  width: 100%;
}

#headSmall {
  font-size: 4vh;
  color: #F12D2D;
}

@media screen and (max-width: 769px) {
  #infantContainer2 {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  p {
    width: auto;
  }
  .infantHeader,
  .infantHeaderSchool,
  .infantHeaderToddler,
  .infantHeaderSchoolAge {
    font-size: 4vh;
  }
  #infantContainer #programsPagePhoto2 {
    width: 50%;
  }
}

@media screen and (max-width: 411px) {
  #infantContainer #infantBaby2,
  #infantContainer #infantBaby3 {
    width: 80%;
  }
  #infantContainer2 p {
    font-size: 4vw;
  }
}

#pageContainer {
  padding-top: 20vh;
  padding-bottom: 10vh;
}

#pageContainer p {
  font-size: 18px;
  margin: auto;
  width: 80%;
  line-height: 5vh;
  font-weight: bold;
  padding: 2vh;
  background-color: white;
}

#pageContainer a {
  text-decoration: none;
  color: #0779E4;
}

#pageContainer a i {
  margin-right: 5px;
}

#pageContainer a:hover {
  color: #F12D2D;
}

#emailAdress {
  margin-left: 5px;
}

#enrollForm {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.sectionHeader3 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 4vw;
  font-weight: 900;
  color: #0779E4;
  margin-bottom: 5vh;
}

.card {
  width: 80%;
  text-align: center;
  margin: 5vh 5vh;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
}

.card i {
  margin-top: 2vh;
}

#cardContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#parHeader {
  font-weight: bold;
  font-size: larger;
  color: #F12D2D;
}

#parHeader2 {
  font-weight: bold;
  color: #F12D2D;
}

#centerClosureList {
  line-height: 3;
  font-size: 20px;
  font-weight: bold;
}

.icon {
  height: 25px;
  width: 25px;
  margin-right: 10px;
}

table {
  margin-top: 2vw;
  margin-left: auto;
  margin-right: auto;
  font-size: larger;
  background-color: white;
}

table,
th,
td {
  border: 2px solid #0779E4;
  border-collapse: collapse;
}

th,
td {
  padding: 15px;
}

td:first-child {
  font-weight: bold;
}

#rateExplanation {
  text-align: left;
  line-height: 4;
}

#galleryContainer > div:nth-child(7),
#pageContainer > div {
  margin-top: 5vw;
}

.schoolAgeHeader {
  color: red;
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  #enrollForm {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  #cardContainer {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 541px) {
  #cardContainer {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 411px) {
  #enrollForm {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 280px) {
  #galleryContainer h2 {
    font-size: 22px;
  }
}

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Force table to not be like tables anymore */
  table {
    width: 90%;
  }
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }
  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  tr {
    margin: 0 0 1rem 0;
  }
  tr:nth-child(odd) {
    background: #ccc;
  }
  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #ccc2c2;
    position: relative;
    padding-left: 50%;
  }
  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 0;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
  /*
		Label the data
    You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
		*/
  td:nth-of-type(1):before {
    content: "";
  }
  td:nth-of-type(2):before {
    content: "1st Child";
  }
  td:nth-of-type(3):before {
    content: "2nd Child";
  }
  td:nth-of-type(4):before {
    content: "3rd Child";
  }
  td:nth-of-type(5):before {
    content: "Part Time";
  }
  td:nth-of-type(6):before {
    content: "Daily";
  }
  td:nth-of-type(7):before {
    content: "12.5hr a week";
  }
}

#galleryContainer {
  padding: 10vw;
}

#centerClosureList {
  background-color: white;
}

@media screen and (max-width: 1280px) {
  #galleryContainer {
    padding: 14vw;
  }
}

@media screen and (max-width: 768px) {
  #galleryContainer {
    padding-top: 25vw;
  }
}

@media screen and (max-width: 411px) {
  #galleryContainer {
    padding-top: 32vw;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Quicksand', sans-serif;
  background-image: url("../assets/photo-gallery/Chagrin-Valley.png");
  text-align: center;
}

.sectionHeader {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 5vw;
  font-weight: 900;
  color: #0779E4;
  margin-bottom: 5vh;
  border: 2px dotted #0779E4;
  padding: 0.2em 1em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 2em;
  display: inline-block;
}

.sectionHeaderPrograms {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 1.5vw;
  font-weight: 900;
  margin-bottom: 5vh;
}

.sectionHeaderPrograms a {
  color: #0779E4;
  text-decoration: none;
}

.sectionHeaderPrograms a:hover {
  color: #F12D2D;
}

/*Top Picture Section*/
.topPicture {
  position: relative;
}

.mainphoto {
  width: 100%;
  max-height: 100vh;
}

.perfectphoto {
  width: 35%;
  position: absolute;
  top: 25%;
  left: 30%;
}

/*Buttons*/
.learnMoreButton2,
#SummerFlyer {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  background-color: #F12D2D;
  color: white;
  font-size: 2vw;
  padding: 0.6em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 2em;
  border: none;
  cursor: pointer;
}

.learnMoreButton2 a,
#SummerFlyer a {
  text-decoration: none;
  color: white;
}

.learnMoreButton2:hover,
#SummerFlyer:hover {
  background-color: #0779E4;
  color: white;
}

.learnMoreButton2 {
  background-color: #ffE75E;
  color: black;
  margin-top: 5vh;
}

/*About Us Section*/
.aboutUs {
  padding-top: 6vh;
}

.aboutLink ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  margin: 4vh 0;
}

.aboutLink ul li {
  margin-right: 2vh;
  padding: 1vh;
  background-color: #ffE75E;
  padding: 0.6em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 2em;
  cursor: pointer;
}

.aboutLink ul li:hover {
  background-color: #0779E4;
  color: white;
}

#aboutUsInfoPhotos {
  width: 55%;
  border-radius: 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#aboutUsInfo,
.ourActivitiesInfo {
  display: -ms-grid;
  display: grid;
  margin: 5vh;
  line-height: 5vh;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.aboutUsInfoParargaf {
  text-align: center;
  margin: 5vh;
}

/*Our Activities Section*/
.ourActivities {
  background-color: #00ead350;
  padding-top: 6vh;
}

.ourActivitiesInfo {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  padding: 6vh 0;
}

#ourActivitiesPhoto {
  width: 80%;
  border-radius: 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ourActivitiesLink {
  margin-top: 5vh;
  padding-bottom: 6vh;
}

.ourActivitiesLink img {
  height: 30vh;
  width: 30vh;
}

/*Event Section*/
.eventGalleryCards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 5vh 0;
}

.eventGallery {
  width: 80%;
  height: 30vh;
  margin: 5vh;
}

.cardEvent {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-width: 300px;
  margin: auto;
  margin-bottom: 5vh;
  text-align: center;
  background-color: rgba(186, 180, 180, 0.476);
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
  overflow: hidden;
  border-radius: 10%;
  /* Animation */
}

.cardEvent img {
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid #0779E4;
  border-radius: 10%;
  -webkit-box-shadow: 0 4px 8px 0 rgba(21, 15, 196, 0.2), 0 6px 20px 0 rgba(12, 30, 231, 0.19);
          box-shadow: 0 4px 8px 0 rgba(21, 15, 196, 0.2), 0 6px 20px 0 rgba(12, 30, 231, 0.19);
}

.cardEvent img:hover {
  -webkit-transform: scale(1.8);
          transform: scale(1.8);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/*Parent section*/
.parentSection {
  background-color: #fff;
  background-size: 100% 1.2em;
  background-image: linear-gradient(0deg, transparent 79px, #536162 79px, #536162 81px, transparent 81px), linear-gradient(#eee 0.05em, transparent 0.05em);
  margin: 6vh 0;
}

.parentSectionInfo {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-items: center;
  text-align: center;
  padding: 6vh 0vh;
}

.parentSectionPhoto {
  margin-bottom: 6vh;
}

.parentSectionPhoto img {
  border-radius: 20%;
  width: 20vw;
  height: 20vw;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.parentSectionText {
  width: 90%;
}

.parentSectionText p {
  font-size: 1.5vw;
  line-height: 35px;
}

/*Contact Section*/
.contactSection {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  color: white;
}

.contactSection i {
  font-size: 5vw;
}

.contactSection a {
  text-decoration: none;
  color: white;
}

.contactSection a:hover {
  color: #0779E4;
}

.phoneNumberSection,
.adressSection,
.emailSection {
  padding: 5vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phoneNumberSection {
  background-color: #00f2ff;
}

.adressSection {
  background-color: #ffE75E;
}

.emailSection {
  background-color: #F12D2D;
}

.footer,
footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(186, 180, 180, 0.476);
}

.footer a,
footer a {
  margin: 0 1vh;
  text-decoration: none;
  color: black;
}

.footer a:hover,
footer a:hover {
  font-weight: bold;
  color: #0779E4;
}

#footerPage {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

#root > div:nth-child(3) > div > div.phoneNumberSection.aos-init.aos-animate > div.infoPart > h2:nth-child(2) > div {
  font-family: 'Quicksand', sans-serif;
  color: white;
  font-size: 3vh;
  font-weight: bold;
}

#root > div:nth-child(3) > div > div.phoneNumberSection.aos-init.aos-animate > div.infoPart > h2:nth-child(2) > div:hover {
  color: #0779E4;
}

/*Mobile view*/
@media screen and (max-width: 1281px) {
  .navbar {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    font-size: 1.3vw;
  }
  .eventGalleryCards {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .parentSectionPhoto img {
    height: 40vh;
    width: 60%;
  }
}

@media screen and (min-width: 769px) {
  .logo {
    margin-top: 0;
  }
  .logo img {
    margin-left: 2vh;
    height: 15vh;
    width: 15vh;
  }
  .logo:hover,
  .nav-links:hover {
    color: white;
  }
  .contactSection {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .ourActivitiesInfo {
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
  }
  .contactSection i {
    font-size: 3vw;
  }
  .phoneNumberSection,
  .adressSection,
  .emailSection {
    -ms-grid-columns: 1fr 3fr;
        grid-template-columns: 1fr 3fr;
  }
  .sectionHeader {
    font-size: 3vw;
  }
}

@media screen and (max-width: 769px) {
  .topPicture {
    padding-top: 13vh;
  }
  .parentSectionText {
    width: 90%;
  }
  .parentSectionText p {
    font-size: 3vw;
  }
  .parentSectionPhoto img {
    width: 80%;
    height: 30vh;
  }
  .sectionHeaderPrograms {
    font-size: 4vw;
  }
  .footer a img {
    width: 10vh;
  }
  #ourActivitiesPhoto {
    width: 80%;
  }
  #aboutUsInfoPhotos {
    width: 80%;
  }
}

@media screen and (max-width: 415px) {
  main {
    padding-top: 50px;
  }
  .learnMoreButton2,
  #SummerFlyer {
    font-size: 4vw;
    padding: 1em 1.6em;
  }
  .sectionHeader {
    font-size: 4vh;
    font-weight: 200;
    font-weight: bold;
  }
  .sectionHeaderPrograms {
    font-size: 5vw;
  }
  .aboutLink ul li {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-right: 1vh;
    padding: 1vh;
  }
  .topPicture {
    padding-top: 12vh;
  }
  .perfectphoto {
    top: 40%;
    left: 30%;
  }
  .eventGalleryCards {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .parentSectionPhoto img {
    width: 60vw;
    height: 60vw;
  }
  .contactSection {
    font-size: 3vw;
  }
  .ourActivities {
    width: 100%;
  }
  .parentSectionText p {
    font-size: 5vw;
  }
}

@media screen and (max-width: 281px) {
  .aboutLink ul {
    font-size: 3.5vw;
  }
  h2 {
    font-size: 3vw;
  }
  p {
    font-size: 2vw;
  }
  #aboutUsInfo {
    padding: 0px;
    margin: 0px;
    text-align: center;
  }
  #aboutUsInfo h2 {
    font-size: 4vw;
  }
  #aboutUsInfo p {
    font-size: 3vw;
  }
  .aboutUsInfoParargaf {
    margin: 0px auto;
    padding: 10px;
  }
  .learnMoreButton2 {
    font-size: 2vw;
  }
}
/*# sourceMappingURL=style.css.map */